.contenedorFormulario {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 420px;
    display: flex;
    flex-direction: column;
    background-color: #d9edf7;
    border-radius: 15px;
    padding: 1.5rem;
}

.encabezado {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido p {
    align-self: flex-start;
    margin-bottom: .4rem;
    font-weight: 600;
    color: black;
}

.contenido input,
.contenido select {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 1rem;
    color: black;
    background-color: white;
}

.contenido option {
    color: black;
    background-color: white;
}

.contenido button {
    width: 100%;
    margin-top: .5rem;
}